*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}

.menu-principal{
    width: 100%;
    background-color: #dfdfdf;
    height: 120px;
}

main{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 0px 20px ;
}

.logo{
    float: left;
    width: 80%;
    padding: 5px;
}

.menu ul li{
    margin-left: 15px;
    float: none;
    display: inline-block;
    list-style: none;
    float: right;
    padding: 5px;
}

.logo{
    width: 20%;
}

#cardapio{
    background-color: #cbc7c7;
    padding: 10px;
    display: none;
    height: 40px;
}

#cardapio > ul > li{
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    float: left;
}
a{
    font-style: none;
}

